<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @record.activity.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @record.created_at %>
</p>

<p>
  <strong>Hours spent:</strong>
  <%= @record.hours_spent %>
</p>

<%= link_to 'Back', @record.activity %> |
<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Destroy', @record, method: :delete, data: { confirm: 'Are you sure?' } %>
