<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @record.activity %>
</p>

<p>
  <strong>Hours spent:</strong>
  <%= @record.hours_spent %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
