<p id="notice"><%= notice %></p>

<h2>
  <%= @recurring_task.name %>
</h2>

<p>
  Last completed <%= time_ago_in_words @recurring_task.completed_at %> ago.
</p>

<div class="list-group">
  <%= link_to 'Back', activities_path, class: "list-group-item" %>
  <%= link_to 'Mark as completed', complete_recurring_task_path(@recurring_task), class: "list-group-item", method: :put, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_recurring_task_path(@recurring_task), class: "list-group-item" %>
  <%= link_to 'Destroy', @recurring_task, class: "list-group-item", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>