<h2>Activities</h2>
<div class="list-group">
  <% @activities.each do |activity| %>
    <%= link_to activity, class: "list-group-item" do %>
      <%= activity.name %>
      <span class="pull-right">
        <small style="margin-right: 16px;">
          <%= less_ugly_decimal activity.cycle_completion_hours %>/<%= less_ugly_decimal activity.hours_per_cycle %>h
        </small>
        <%= activity.cycle_completion_percentage.to_i %>%
      </span>
    <% end %>
  <% end %>
</div>

<h2>New activity</h2>
<%= form_with(model: Activity.new, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :hours_per_cycle %>
    <%= form.number_field :hours_per_cycle, step: 0.25, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "form-control" %>
  </div>
<% end %>

<h2>Misc</h2>
<div class="list-group">
  <%= link_to 'View cycle duration', cycle_duration_activities_path, class: "list-group-item" %>
  <%= link_to 'Archive old cycles', archive_old_activities_path, class: "list-group-item", method: :delete, data: { confirm: 'Archive old cycles: are you sure?' } %>
  <%= link_to 'Delete all cycles', delete_all_activities_path, class: "list-group-item", method: :delete, data: { confirm: 'Delete all cycles: are you sure?' } %>
</div>

<h3>
  Recurring tasks
</h3>
<div class="list-group">
  <% @recurring_tasks.each do |recurring_task| %>
    <%= link_to recurring_task, class: "list-group-item" do %>
      <%= recurring_task.name %>
      <small class="pull-right">
        <%= (Time.now.to_date - recurring_task.completed_at.to_date).to_i  %> days ago
      </small>
    <% end %>
  <% end %>
</div>