<p id="notice"><%= notice %></p>

<h2>
  <%= @activity.name %>
</h2>

<p>
  <%= @activity.hours_per_cycle %> hours per cycle
</p>

<ul class="list-group">
  <li class="list-group-item">
    <%= link_to 'Edit', edit_activity_path(@activity) %>
  </li>
  <li class="list-group-item">
    <%= link_to 'Destroy', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
  <li class="list-group-item">
    <%= link_to 'Back', activities_path %>
  </li>
</ul>

<h3>
  New record
</h3>
<%= form_with(model: Record.new, local: true) do |form| %>

  <%= form.hidden_field :activity_id, value: @activity.id %>

  <div class="form-group">
    <%= form.label :hours_spent %>
    <%= form.number_field :hours_spent, step: 0.25, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "form-control" %>
  </div>
<% end %>


<h3>
  Records
</h3>
<ul class="list-group">
  <% @activity.records.each do |record| %>
    <li class="list-group-item">
      <%= link_to record.created_at, record %>
      <span class="pull-right">
        <%= record.hours_spent %> hours
      </span>
    </li>
  <% end %>
</ul>
